.block_span {
    span {
        display: block;
    }
}

.card-wrap {
    margin-bottom: 10px;

    button {
        margin-right: 10px;
    }

    .ant-btn-group {
        margin-right: 10px;

        button {
            margin-right: 0px;
        }
    }

    .ant-radio-group {
        margin-right: 10px;
    }

    i {
        margin: 0px 10px;
    }

    .spin-example {
        text-align: center;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 30px 50px;
        margin: 20px 0;
    }
}