.card-wrap {
    margin-bottom: 10px;

    button {
        margin-right: 10px;
    }

    .ant-btn-group {
        margin-right: 10px;

        button {
            margin-right: 0px;
        }
    }

    .ant-radio-group {
        margin-right: 10px;
    }

}