.antd-pro-header {
    span {
        padding: 0 12px;
        display: inline-block;
        height: 100%;
        padding: 0 12px;
        cursor: pointer;
        transition: all .3s;
    }

    .action {
        padding: 0 12px;
    }
}