.mainLayout {
  background: red;



  .main-frame {
    margin-left: 200px;
    height: 100vh;
    transition: all 0.2s;

    .head-wrapper {
      background: #fff;
      padding: 0;
      display: flex;
      flex-direction: row nowrap;

      .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: #1890ff;
        }
      }

      .header-area {
        flex-grow: 1;
      }

      .main-content {
        margin: 24px 16px 0;
        overflow: initial;
      }
    }
  }

  .left-nav {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;

    .logo {
      height: 32px;
      background: rgba(255, 255, 255, 0.2);
      margin: 16px;
    }

    &-collapsed {
      margin-left: 80px;
    }
  }

}