.base-layout {
    min-height: 100vh;
    color: #fff;
    text-align: center;

    .main-layout {
        .header {
            background: #fff;
            padding: 0;
            color: #000;
        }

        .container {
            min-height: 500px;
            margin: 10px 16px;
            background: #ccc;
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;
            flex: 1;

            .content {
                width: 100%;
                padding: 24;
                background: #fff;
                color: #000;
            }
        }


        .footer {
            height: 40px;
            line-height: 40px;
            padding: 0px;
        }
    }
}